<br>
<hr>
<br>
<h1><%= @bar.name %></h1>

<h2> City -- <%= @bar.city %></h2>
<hr>
<h3> Beer Menu: </h3>
<ul id="beerlist">
    <% @bar.beer_list.each do |beer| %>
    <li> <%= link_to beer.name, beer_path(beer) %> - Rating: <%= beer.avg_rating %>
    <% end %>
    </ul>

<hr>
<%= link_to 'All Bars', bars_path() %> <br>
<%= link_to 'All Beers', beers_path() %> <br>
<%= link_to 'All Breweries', breweries_path() %>