<br>
<h1><%= @user.username %> </h1>
<hr>
<p> Hometown -- <%= @user.hometown %>
<hr>
<p> 
<h2> Reviews: </h2>
<ul> 
    <% @user.reviews.each do |review| %>
       <li> Title: <%= review.title %> 
       <br> 
            Review: <%= review.content %> 
       <br> 
            Rating: <%= review.rating %> </li>

        <% end %>
<ul>
<hr>
<ul>
<h3> Liked Reviews </h3>
 <% @user.liked_reviews.each do |review| %>
       <li> <%= link_to review.title, review_path(review) %> <br>
        <% end %>
<ul>



<hr>
<%= link_to 'All Bars', bars_path() %> <br>
<%= link_to 'All Beers', beers_path() %> <br>
<%= link_to 'All Breweries', breweries_path() %>