<br>
<h1> <%= @brewery.name %>'s profile page </h1>

Brewery City: <%= @brewery.city %> <br>
Brewery Style: <%= @brewery.style %> <br>


<br>
<hr>

<h2> List of Beers: </h2> <br>

<table>
    <thead>
        <tr>   
            <th> Beer </th>
            <th> Average Rating </th>
            <th> Style </th>
        </tr>
    </thead>
    <% @brewery.beers.order(:name).each do |beer| %>
    <tr>
        <td> <%= link_to beer.name, beer_path(beer) %> </td>
        <td> <%= beer.avg_rating %> </td>
        <td> <%= beer.style %>
    </tr>
    <% end %>
</table>

<hr>

<h2> List of Reviews: </h2> <br>

<table>
    <thead>
        <tr>   
            <th> Title </th>
            <th> Rating </th>
            <th> User </th>
        </tr>
    </thead>
    <% @brewery.reviews.order(:name).each do |review| %>
    <tr>
        <td> <%= link_to review.title, review_path(review) %> </td>
        <td> <%= review.rating %> </td>
        <td> <%= link_to review.user.username, user_path(review.user.id) %>
    </tr>
    <% end %>
</table>



