<br>
<h1> Update your Review </h1>
<h3> Current Title: <%= @review.title %> </h3>

<%= form_for @review do |f| %>
<%= f.label :rating %>
<%= f.number_field :rating %> <br>
<%= f.label :title %>
<%= f.text_field :title %> <br>
<%= f.label :content %>
<%= f.text_area :content %> <br>
<%= f.submit "Update your Review" %>
<% end %>