<h1> Create a Review </h1>

<% if @review.errors.any?  %>
    Errors
    <ul>
    <% @review.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
    <% end %>
    </ul>
   <% end %>


<p><%= form_for @review do |f| %>
    
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <br>
    <hr>
    <%= f.label :beer_id %>
    <%= f.collection_select :beer_id,  Beer.all, :id, :name %>
    <br>
    <hr>
    <%= f.label :bar_id %>
    <%= f.collection_select :bar_id,  Bar.all, :id, :name %>
    <br>
    <hr>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <hr>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    <hr>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
    <br>
    <%= f.submit %>
    
    <% end %>